;; this is a map of how long it takes to sync the dataset (in nanoseconds) for an in-memory H2 database on Cam's local
;; computer (Ryzen 3950x/32 GB of RAM/Java 14)
{"airports"                          221183700
 "attempted-murders"                 80652500
 "avian-singles"                     88134800
 "basic-field-comments"              68599300
 "bird-flocks"                       92726800
 "checkins_interval_15"              64591300
 "checkins_interval_86400"           55370600
 "checkins_interval_900"             51509000
 "comment-after-sync"                55898400
 "daily-bird-counts"                 64417700
 "db-with-some-cruft"                68762400
 "office-checkins"                   63767100
 "places-cam-likes"                  72523700
 "sad-toucan-incidents"              67037100
 "sample-dataset"                    760352800
 "string-times"                      97758600
 "table_with_comment_after_sync_db"  55453000
 "table_with_comment_db"             65205000
 "table_with_updated_desc_db"        60104700
 "test-data"                         1121910700
 "test-data-self-referencing-user"   74946000
 "test-data-with-null-date-checkins" 211749100
 "test-data-with-time"               79414300
 "test-data-with-timezones"          182480800
 "toucan-microsecond-incidents"      76807800
 "tupac-sightings"                   116833400
 "update-desc"                       61395000}
